%h2 Sender Information
= @user.to_s
%br/
= @user.email
%br/
= "Organization: #{@user.organization}"
%br/
= "#{@user.city}, #{@user.state}"
%br/
= @user.phone
%hr/
%h2 Suggested Measure
= "Title: #{@suggestion.fetch(:title)}"
%br/
= "Category: #{@suggestion.fetch(:category)}"
%br/
= "Reference: #{@suggestion.fetch(:reference)}"
%br/
= "Description: #{@suggestion.fetch(:description)}"
