= @user.to_s
%br/
= @user.email
%br/
= "Organization: #{@user.organization}"
%br/
= "#{@user.city}, #{@user.state}"
%br/
= @user.phone
%hr/
= "Suggestion Title: #{@suggestion.fetch(:title)}"
%br/
= "Reference: #{@suggestion.fetch(:reference)}"
%br/
= "Description: #{@suggestion.fetch(:description)}"