- provide(:title, 'Register')
%h2 Register
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email"
  .field
    = f.label :first_name
    %br/
    = f.text_field :first_name
  .field
    = f.label :last_name
    %br/
    = f.text_field :last_name
  .field
    = f.label :organization
    %br/
    = f.text_field :organization
  .field
    = f.label :city
    %br/
    = f.text_field :city
  .field
    = f.label :state
    %br/
    = f.text_field :state
  .field
    = f.label :zip
    %br/
    = f.text_field :zip
  .field
    = f.label :phone
    %br/
    = f.telephone_field :phone
  .field
    = f.label :password
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "off"
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "off"
  .field
    %p The resources provided here are for research, educational, and non-commercial purposes only. By registering, you are agreeing to abide by the #{link_to 'terms of use', terms_path}.
    = f.check_box :terms_of_use
    = f.label :terms_of_use, "I agree to the #{link_to 'terms of use', terms_path}.".html_safe
  .actions
    = f.submit 'Register', class: 'btn btn-primary'
  %br/
= render 'devise/shared/links'
