%h1 All Users
%h2 Adminstrators
%hr
%ul
  - @admins.each do |user|
    %li= user.to_s
    = delete_user_link(current_user, user)
    %hr

%h2 Guests
%hr
%ul
  - @guests.each do |user|
    %li= user.to_s
    = delete_user_link(current_user, user)
    = make_user_admin_link(current_user, user)
    %hr
