- provide(:title, 'All Users')

%h1 All Users

%h2 Adminstrators
%ul#admins.list-group
  - @admins.each do |user|
    %li.list-group-item{id: "user_#{user.id}"} #{show_user_link(current_user, user)} #{delete_user_link(current_user, user)}

%h2 Guests
%ul#guests.list-group
  - @guests.each do |user|
    %li.list-group-item{id: "user_#{user.id}"} #{show_user_link(current_user, user)} #{delete_user_link(current_user, user)} #{make_user_admin_link(current_user, user)}
