- provide(:title, 'All Users')
%h1 All Users
%h2 Adminstrators
%hr
%ul.user-list
  - @admins.each do |user|
    %li #{show_user_link(current_user, user)} #{delete_user_link(current_user, user)}
    %hr

%h2 Guests
%hr
%ul.user-list
  - @guests.each do |user|
    %li #{show_user_link(current_user, user)} #{delete_user_link(current_user, user)} #{make_user_admin_link(current_user, user)}
    %hr
