%h1 Suggestion

= form_for :suggestion, url: suggestions_path do |f|
  = f.label :title
  = f.text_field :title
  %br/
  = f.label :category
  = f.select :category, options_for_select(Measure.category_options)
  %br/
  = f.label :reference
  = f.text_field :reference
  %br/
  = f.label :description
  = f.text_area :description
  %br/
  = f.submit 'Submit', class: 'btn btn-primary'
