= form_for(@measure, html: {multipart: true}) do |f|
  = form_errors_for(@measure)
  .form-group
    = f.label :title
    = f.text_field :title, autofocus: true, class: 'form-control'
  .form-group
    = f.label :category
    = f.select 'category', options_for_select(Measure.category_options), {include_blank: 'Choose...'}, {class: 'form-control'}
  .form-group
    = f.label :document
    = f.file_field :document, accept: 'application/pdf', class: 'form-control-file'
  .form-group
    = f.check_box :featured
    = f.label :featured, 'Featured?'
  .form-group
    = f.submit 'Save', class: 'btn btn-primary'
