- provide(:title, 'Resilience Measures')

= new_measure_link if current_user.admin?

%h1.display-4 Featured Measure
%h2 TODO

.row.sub-banner
  .col-lg-3
    %h2 General
    %p TODO
    %p= link_to 'Browse general measures »', category_measures_path(category: :general)
  .col-lg-3
    %h2 Individual
    %p TODO
    %p= link_to 'Browse individual measures »', category_measures_path(category: :individual)
  .col-lg-3
    %h2 Relational
    %p TODO
    %p= link_to 'Browse relational measures »', category_measures_path(category: :relational)
  .col-lg-3
    %h2 Community
    %p TODO
    %p= link_to 'Browse community measures »', category_measures_path(category: :community)

%p.text-center.my-5= link_to 'Have a suggestion for a new measure?', new_suggestion_path, class: 'btn btn-primary'
