- provide(:title, 'Resilience Measures')

.row.sub-banner
  .col-lg-3
    %h2 General
    %p TODO
    %p= link_to 'Browse general measures »', category_measures_path(category: :general), class: 'btn btn-sm btn-primary'
  .col-lg-3
    %h2 Individual
    %p Individual measures focus on characterstics, such as a positive self-image, and developmental skills, such as problem-solving.
    %p= link_to 'Browse individual measures »', category_measures_path(category: :individual), class: 'btn btn-sm btn-primary'
  .col-lg-3
    %h2 Relational
    %p Relational factors include parenting competencies, caregiver well-being, positive peers, or living with family members.
    %p= link_to 'Browse relational measures »', category_measures_path(category: :relational), class: 'btn btn-sm btn-primary'
  .col-lg-3
    %h2 Community
    %p Community-level factors focus on positive school environments, stable living situations, and economic opportunities.
    %p= link_to 'Browse community measures »', category_measures_path(category: :community), class: 'btn btn-sm btn-primary'

%p.text-center.my-5= link_to 'Have a suggestion for a new measure?', new_suggestion_path, class: 'btn btn-primary'

- if @featured_measure
  %h1.display-4.text-center Featured Measure
  %h2.text-center= @featured_measure.title
  %p.text-center= @featured_measure.description
  %p.text-center= @featured_measure.details.presence || "No details have been provided for this measure."
  - if @featured_measure.document.attached?
    %iframe.measure_document{:src => "#{url_for(@featured_measure.document)}"}
  - else
    %h4.text-center No document has been provided.
  %p.text-center= link_to 'View details', measure_path(@featured_measure), class: 'btn btn-primary'
