- provide(:title, @measure.title)

- if current_user.admin?
  = link_to 'Edit', edit_measure_path(@measure), class: 'btn btn-primary float-right'

%h1.display-4.mb-5= @measure.title
.row
  .col
    - if @measure.document.attached?
      %iframe{:src => "#{url_for(@measure.document)}", style: 'width: 100%; height: 46em;'}
    - else
      %h4 No document has been provided.
  .col
    %h2= "A #{@measure.category} resilience measure"
    .tag_list
      - @measure.tag_list.each do |tag|
        %span.tag= tag
    %p= @measure.description
    %p= @measure.details.presence || "No details have been provided for this measure."
    %p= "Added on #{@measure.created_at.to_s(:long)}."
    %p= "Last updated on #{@measure.created_at.to_s(:long)}."
