%p#notice= notice
%h1= @measure.title
%h3= @measure.category.capitalize
%hr
%iframe{:src => "#{@measure.document.url}", style: 'width: 500px; height: 500px;'}
%br
%hr
= link_to 'Edit', edit_measure_path(@measure), class: 'button'
\|
= link_to 'Back', measures_path, class: 'button'
