%nav.navbar.navbar-expand-sm
  = link_to image_tag('logo.png'), root_path, class: 'navbar-brand'
  %button.navbar-toggler{"aria-controls" => "nav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#nav", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #nav.collapse.navbar-collapse.justify-content-end
    %ul.navbar-nav
      - if user_signed_in?
        %li.nav-link
          = link_to 'Home', measures_path
        %li.nav-link
          = link_to 'General', category_measures_path(category: :general)
        %li.nav-link
          = link_to 'Individual', category_measures_path(category: :individual)
        %li.nav-link
          = link_to 'Relational', category_measures_path(category: :relational)
        %li.nav-link
          = link_to 'Community', category_measures_path(category: :community)
        %li.nav-item.dropdown
          %a#dropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown"}
            = current_user
          .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "dropdown"}
            - if current_user.admin?
              .dropdown-item
                = link_to 'Users', users_path
              .dropdown-item
                = link_to 'Add a Measure', users_path
            .dropdown-item
              = link_to 'My Profile', user_path(current_user)
            .dropdown-item
              = link_to 'Suggest a Measure', new_suggestion_path
            .dropdown-divider
            .dropdown-item
              = link_to 'Sign Out', destroy_user_session_path, method: :delete
      - else
        %li.nav-item.active
          .nav-link= link_to 'Sign In', new_user_session_path
          %span.sr-only (current)
        %li.nav-item.active
          .nav-link= link_to 'Register', new_user_registration_path
